body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    width: 60%;
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}
